<!--<router-outlet></router-outlet>-->
<ngx-spinner></ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="jumbotron col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h4 class="display-8">Feira App</h4>
          <br>
          <h4 class="display-8">Dados Pessoais</h4>
          <br>
          <form #formPredictHealth="ngForm" (ngSubmit)="onSubmit(formPredictHealth.value)" novalidate>
            <div class="form-group">
              <label for="nomeCompleto">Nome completo ou Razão Social (obrigatório)</label>
              <input name="nomeCompleto" ngModel type="text" class="form-control" id="nomeCompleto">
            </div>
            <div class="form-group">
              <label for="endereco">Endereço (obrigatório)</label>
              <input name="endereco" ngModel type="text" class="form-control" id="endereco">
            </div>
            <div class="form-group">
              <label for="dataNascimento">Data de Nascimento (obrigatório)</label>
              <input name="dataNascimento" ngModel type="text" class="form-control" id="dataNascimento">
            </div>
            <div class="form-group">
              <label for="celular">Celular (Whatsapp) (obrigatório)</label>
              <input name="celular" ngModel type="text" class="form-control" id="celular">
              <small id="celularHelp" class="form-text text-muted">Requerido formato do número de telefone: (##) #####-####</small>
            </div>
            <div class="form-group">
              <label for="email">Email (obrigatório)</label>
              <input name="email" ngModel type="text" class="form-control" id="email">
            </div>
            <br>
            <h4 class="display-8">Dados Banca</h4>
            <br>
            <div class="form-group">
              <label for="produtos">Produtos comercializados (obrigatório)</label>
              <input name="produtos" ngModel type="text" class="form-control" id="produtos">
              <small id="produtosHelp" class="form-text text-muted">Frutas, Legumes, Verduras, temperos ou outros.</small>
            </div>
            <div class="form-group">
              <label for="produtorOuRevendedor">Produtor ou Revendedor (obrigatório)</label>
              <input name="produtorOuRevendedor" ngModel type="text" class="form-control" id="produtorOuRevendedor">
            </div>
            <div class="form-group">
              <label for="barracas">Quantidade de barracas por Feira (obrigatório)</label>
              <input name="barracas" ngModel type="text" class="form-control" id="barracas">
            </div>
            <ng-multiselect-dropdown
              [placeholder]="'Dia da semana que faz feira'"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
            <div  *ngIf="showDomingo()">
              <br>
              <div class="form-group">
                <label for="enderecoDomingo">Endereço da feira (Domingo)</label>
                <input name="enderecoDomingo" ngModel type="text" class="form-control" id="enderecoDomingo">
              </div>
              <div class="form-group">
                <label for="horarioDomingo">Horário da feira (Domingo)</label>
                <input name="horarioDomingo" ngModel type="text" class="form-control" id="horarioDomingo">
              </div>
            </div>

            <div  *ngIf="showSabado()">
              <br>
              <div class="form-group">
                <label for="enderecoSabado">Endereço da feira (Sábado)</label>
                <input name="enderecoSabado" ngModel type="text" class="form-control" id="enderecoSabado">
              </div>
              <div class="form-group">
                <label for="horarioSabado">Horário da feira (Sábado)</label>
                <input name="horarioSabado" ngModel type="text" class="form-control" id="horarioSabado">
              </div>
            </div>

            <div  *ngIf="showSexta()">
              <br>
              <div class="form-group">
                <label for="enderecoSexta">Endereço da feira (Sexta)</label>
                <input name="enderecoSexta" ngModel type="text" class="form-control" id="enderecoSexta">
              </div>
              <div class="form-group">
                <label for="horarioSexta">Horário da feira (Sexta)</label>
                <input name="horarioSexta" ngModel type="text" class="form-control" id="horarioSexta">
              </div>
            </div>

            <div  *ngIf="showQuinta()">
              <br>
              <div class="form-group">
                <label for="enderecoQuinta">Endereço da feira (Quinta)</label>
                <input name="enderecoQuinta" ngModel type="text" class="form-control" id="enderecoQuinta">
              </div>
              <div class="form-group">
                <label for="horarioQuinta">Horário da feira (Quinta)</label>
                <input name="horarioQuinta" ngModel type="text" class="form-control" id="horarioQuinta">
              </div>
            </div>


            <div  *ngIf="showQuarta()">
              <br>
              <div class="form-group">
                <label for="enderecoQuarta">Endereço da feira (Quarta)</label>
                <input name="enderecoQuarta" ngModel type="text" class="form-control" id="enderecoQuarta">
              </div>
              <div class="form-group">
                <label for="horarioQuarta">Horário da feira (Quarta)</label>
                <input name="horarioQuarta" ngModel type="text" class="form-control" id="horarioQuarta">
              </div>
            </div>

            <div  *ngIf="showTerca()">
              <br>
              <div class="form-group">
                <label for="enderecoTerca">Endereço da feira (Terça)</label>
                <input name="enderecoTerca" ngModel type="text" class="form-control" id="enderecoTerca">
              </div>
              <div class="form-group">
                <label for="horarioTerca">Horário da feira (Terça)</label>
                <input name="horarioTerca" ngModel type="text" class="form-control" id="horarioTerca">
              </div>
            </div>


            <div  *ngIf="showSegunda()">
              <br>
              <div class="form-group">
                <label for="enderecoSegunda">Endereço da feira (Segunda)</label>
                <input name="enderecoSegunda" ngModel type="text" class="form-control" id="enderecoSegunda">
              </div>
              <div class="form-group">
                <label for="horarioSegunda">Horário da feira (Segunda)</label>
                <input name="horarioSegunda" ngModel type="text" class="form-control" id="horarioSegunda">
              </div>
            </div>

            <br>
            <button  type="submit" class="btn btn-primary col-md-12">Enviar Cadastro</button>
          </form>
          <br>
          <div *ngIf="submitSucesso()" id="submitSucessoRim" class="alert alert-success" role="alert">
            <strong>Cadastro Realizado com Sucesso!</strong>
          </div>
          <br>
          <div *ngIf="submitErro()" id="submitErro" class="alert alert-success" role="alert">
            <strong>Erro ao chamar Api!! Tente novamente mais tarde.</strong>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
