<!--<router-outlet></router-outlet>-->
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="jumbotron col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h4 class="display-8">Predict Health</h4>
          <br>
          <form #formPredictHealth="ngForm" (ngSubmit)="onSubmit(formPredictHealth.value)" novalidate>
            <div class="form-group">
              <label for="temperatura">Temperatura</label>
              <input name="temperatura" ngModel type="text" class="form-control" id="temperatura">
            </div>
            <div class="form-group">
              <label for="nausea">Naúsea</label>
              <input name="nausea" ngModel type="text" class="form-control" id="nausea">
              <small id="nauseaHelp" class="form-text text-muted">Resposta yes/no</small>
            </div>
            <div class="form-group">
              <label for="lombar">Dor Lombar</label>
              <input name="dorLombar" ngModel type="text" class="form-control" id="lombar">
              <small id="lombarHelp" class="form-text text-muted">Resposta yes/no</small>
            </div>
            <div class="form-group">
              <label for="urinando">Urinando Muito</label>
              <input name="urinandoMuito" ngModel type="text" class="form-control" id="urinando">
              <small id="urinandoHelp" class="form-text text-muted">Resposta yes/no</small>
            </div>
            <div class="form-group">
              <label for="dorUrinando">Dor ao Urinar</label>
              <input name="dorAoUrinar" ngModel type="text" class="form-control" id="dorUrinando">
              <small id="dorUrinandoHelp" class="form-text text-muted">Resposta yes/no</small>
            </div>
            <div class="form-group">
              <label for="queimacaoUretra">Queimação na uretra</label>
              <input name="queimacaoNaUretra" ngModel type="text" class="form-control" id="queimacaoUretra">
              <small id="queimacaoUretraHelp" class="form-text text-muted">Resposta yes/no</small>
            </div>
            <br>
            <button  type="submit" class="btn btn-primary col-md-12">Submit</button>
          </form>
          <br>
          <div *ngIf="submitSucesso()" id="submitSucesso" class="alert alert-success" role="alert">
            <strong>Probabilidade inflamação no rim: </strong>{{inflaRim}}.
            <br>
            <strong>Probabilidade inflamação na bexiga: </strong> {{inflaBexiga}}.
          </div>
          <div *ngIf="submitErro()" id="submitErro" class="alert alert-success" role="alert">
            <strong>Erro ao chamar Api!! Tente novamente mais tarde.</strong>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
